name: CI
on:
  push: {}
  #push:
  #  branches:
  #    - master
  pull_request: {}

jobs:
  linux:
    name: ubuntu
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest ]
        #os: [ macos-latest, ubuntu-latest, windows-latest ]
        go: [ ^1.13, ^1.14, ^1.15 ]
        firefox: [ "82.0", "83.0" ]
    runs-on: ${{ matrix.os }}
    env:
      FIREFOX_VERSION: ${{ matrix.firefox }}
      MOZ_HEADLESS: 1
      DISPLAY: ":99.0"
    steps:
    - name: Set up golang
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go }}

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Download and install Firefox
      run: |
        export FIREFOX_SOURCE_URL="https://download.mozilla.org/?product=firefox-$FIREFOX_VERSION&lang=en-US&os=linux64"
        wget -O /tmp/firefox.tar.bz2 $FIREFOX_SOURCE_URL
        mkdir -p $HOME/firefox
        tar -jvxf /tmp/firefox.tar.bz2 -C $HOME/

    - name: Startup Firefox in Headless mode
      run: |
        $HOME/firefox/firefox --version
        $HOME/firefox/firefox -marionette > /dev/null 2>&1 &
        sleep 10

    - name: Confirm Marionette TCP port is open (ubuntu-latest)
      #if: ${{ matrix.os == 'ubuntu-latest' }}
      run: netstat -ptln

    - name: Run Tests
      run: go test -test.v -race -coverprofile=coverage.txt -covermode=atomic

  windows:
    name: windows
    strategy:
      fail-fast: false
      matrix:
        os: [ windows-latest ]
        go: [ ^1.13, ^1.14, ^1.15 ]
        firefox: [ "82.0", "83.0" ]
    runs-on: ${{ matrix.os }}
    env:
      FIREFOX_VERSION: ${{ matrix.firefox }}
      MOZ_HEADLESS: 1
      DISPLAY: ":99.0"
    steps:
      - name: Set up golang
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go }}

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Go Version
        run: go version

      - name: Install Firefox
        run: |
          # uninstall installed version
          choco install Firefox --version=${{ matrix.firefox }} --params "/NoTaskbarShortcut /NoDesktopShortcut /NoAutoUpdate /InstallDir:d:\ff"
          #c:\ff\distribution\firefox.exe --version

      - name: Startup Firefox in Headless mode
        run: |
          dir
          dir d:\ff
          dir d:\ff\distribution
          #c:\ff\distribution\firefox.exe -Marionette
          timeout /t 10

      - name: Confirm Marionette TCP port is open
        run: netstat -p TCP

      #- name: Run Tests
      #  run: go test -test.v -race -coverprofile=coverage.txt -covermode=atomic

  osx:
    name: mac-os
    strategy:
      fail-fast: false
      matrix:
        os: [ macos-latest ]
        go: [ ^1.13, ^1.14, ^1.15 ]
        firefox: [ "82.0", "83.0" ]
    runs-on: ${{ matrix.os }}
    env:
      FIREFOX_VERSION: ${{ matrix.firefox }}
      MOZ_HEADLESS: 1
      DISPLAY: ":99.0"
    steps:
      - name: Set up golang
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go }}

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Download and install Firefox
        run: |
          #go get github.com/axw/gocov/gocov
          #go get github.com/mattn/goveralls
          #if ! go get code.google.com/p/go.tools/cmd/cover; then go get golang.org/x/tools/cmd/cover; fi
          export FIREFOX_SOURCE_URL="https://download.mozilla.org/?product=firefox-$FIREFOX_VERSION&lang=en-US&os=osx"
          wget -O /tmp/firefox.dmg $FIREFOX_SOURCE_URL
          mkdir -p $HOME/firefox
          hdiutil attach /tmp/firefox.dmg | grep Volumes
          ls -sl /Volumes/Firefox/*
          cp -R /Volumes/Firefox/Firefox.app $HOME/firefox/Firefox.app
          ls -sl $HOME/firefox/Firefox.app/Contents/MacOS/*
          #tar -jvxf /tmp/firefox.tar.bz2 -C $HOME/

      - name: Startup Firefox in Headless mode
        run: |
          $HOME/firefox/Firefox.app/Contents/MacOS/firefox --version
          $HOME/firefox/Firefox.app/Contents/MacOS/firefox/firefox -Marionette > /dev/null 2>&1 &
          sleep 10

      - name: Confirm Marionette TCP port is open (macos-latest)
        run: netstat -p tcp -van | grep LISTEN

      - name: Run Tests
        run: go test -test.v -race -coverprofile=coverage.txt -covermode=atomic